.boxButton {
    width: 100%;
    height: 3rem;

    background-color: var(--red-100);

    display: flex;
    align-items: center;

    border-radius: 0.3rem;

    text-decoration: none;

    transition: background-color 0.2s;

    &:active {
        background-color: var(--red-150);
    }

    img {
        width: 1.5rem;
        height: 1.5rem;

        margin: 0.75rem;

        color: #fff;
    }
}